/* You can add global styles to this file, and also import other style files */


// intro.js overides
.introjs-helperNumberLayer {
    background: none !important; 
    background-color: yellow !important; 
    color: navy !important;
}
